<%-include('header') %>
<h1>About <%=shopData.shopName%></h1>
<p>We can be found at:</p>
<ul>
    <% shopLocations.forEach((shop) => { %>
        <li><%=shop.manager%> at <%=shop.location%></li>
    <%}) %>
</ul>
<%-include('footer') %>